
@font-face {
  font-family: 'Blauer Nue';
  src: url('/fonts/BlaurNue-Regular.woff2') format('woff2'),
       url('/fonts/BlaurNue-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Blauer Nue';
  src: url('/fonts/BlaurNue-Bold.woff2') format('woff2'),
       url('/fonts/BlaurNue-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
